.drinks-to-go-container {
    margin: 2rem;
    padding: 2rem;
    background-color: #ECE0DB;
    max-width: calc(100vw - 2 * 2rem);
    height: calc(70vh - 2 * 2rem); 
}

.to-go-title {
    text-align: start;
    margin: 1rem 0rem 3rem 0rem;
}
