.none {
    display: none;
}

.top-right {
    background: rgb(255, 255, 255, 0.6);
    position: absolute;
    top: 4rem;
    left: 5rem;
    right: 0rem;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-top: 1.5rem;
    padding-right: 3.5rem; 
}
.order-time {
   font-size: 10px;
   position: absolute;
   display: flex;
   align-self: flex-end;
   margin-top: 7rem;
}

.breakfast-info {
    margin-bottom: 0rem;
    align-self: flex-end;
}

.breakfast-info > span {
    font-weight: bold;
}

.top-right h2 {
    display: flex;
    justify-content: flex-start;
    margin: 0px;
}

.top-right p {
    text-align: justify;
    font-size: 10px; 
}
.top-right h6 {
    margin: 0px;
    font-size: 6px;
}
.top-right h3 {
    margin: 0px;
    margin-left: -1.5rem;
    display: flex;
    justify-content: flex-start;
}

.bottom-right {
    background: rgb(255, 255, 255, 0.6);
    position: absolute;
    bottom: 4rem;
    left: 5rem;
    right: 0rem;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-top: 1.5rem;
    padding-right: 3.5rem;
} 
.bottom-right h2 {
    display: flex;
    justify-content: flex-start;
    margin: 0px;
}
.bottom-right p {
    text-align: justify;
    font-size: 10px; 
}
.bottom-right h6 {
    margin: 0px;
    font-size: 6px;
}
.bottom-right h3 {
    margin: 0px;
    margin-left: -1.5rem;
    display: flex;
    justify-content: flex-start;
}

.top-left {
    background: rgb(255, 255, 255, 0.6);
    position: absolute;
    top: 4rem;
    right: 5rem;
    left: 0rem;
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
    padding-top: 1.5rem;
    padding-left: 3.5rem; 
}
.top-left h2 {
    display: flex;
    justify-content: flex-start;
    color: #BE763B;
    margin: 0px;
}
.top-left p {
    text-align: justify;
    font-size: 10px; 
}
.top-left h6 {
    margin: 0px;
    font-size: 6px;
}
.top-left h3 {
    margin: 0px;
    margin-right: -1.5rem;
    display: flex;
    justify-content: flex-end;
}

.bottom-left {
    background: rgb(255, 255, 255, 0.6);
    position: absolute;
    bottom: 4rem;
    right: 5rem;
    left: 0rem;
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
    padding-top: 1.5rem;
    padding-left: 4rem; 
}
.bottom-left h2 {
    display: flex;
    justify-content: flex-start;
    margin: 0px;
}
.bottom-left p {
    text-align: justify;
    font-size: 10px; 
}
.bottom-left h6 {
    margin: 0px;
    font-size: 6px;
}
.bottom-left h3 {
    margin: 0px;
    margin-right: -1.5rem;
    display: flex;
    justify-content: flex-end;
}

